In [5]:
import pandas as pd
import numpy as np

In [7]:
sample=pd.read_csv("final_key.csv")

In [8]:
sample.head()

,questionID,originalQuestionID,totalPossiblePoint,AnswerKey,isMultipleChoiceQuestion,includesDiagram,examName,schoolGrade,year,question,subject,category
0,ACTAAP_2010_7_2,2,1,A,1,1,ACTAAP,7,2010,Many houses located near beaches look like the...,science,Dev
1,ACTAAP_2013_7_5,5,1,C,1,1,ACTAAP,7,2013,This diagram shows a portion of a roller coast...,science,Dev
2,AMP_2016_8_11,11,1,D,1,1,AMP,8,2016,Students conducted an experiment to test how t...,science,Dev
3,CSZ_2008_8_13,13,1,C,1,1,California Standards Test,8,2008,The following table shows properties of four d...,science,Dev
4,LEAP__8_10374,10374,1,D,1,1,Louisiana Educational Assessment Program,8,?,Use the food web below to answer the question....,science,Dev

In [26]:
ans=pd.read_json("final_key.jsonl",lines=True)

In [29]:
stem=[]
ls={"A":[],"B":[],"C":[],"D":[],"E":[]}
ls.keys()

dict_keys(['A', 'B', 'C', 'D', 'E'])

In [30]:
for i in range(len(ans)):
    question=pd.DataFrame(ans.loc[i]["question"])
    tt=question["choices"]
    labels=[k['label'] for k in tt]
    for idx,key in enumerate(labels):
        ls[key].append(tt[idx]["text"])
    for f in ["A","B","C","D","E"]:
        if f not in labels:
            ls[f].append("")
    stem.append(question["stem"].loc[0])

In [31]:
for i in ["A","B","C","D","E"]:
    ans[i]=ls[i]
ans["stem"]=stem

In [19]:
ans.head()

,answerKey,id,question,A,B,C,D,stem
0,C,ACTAAP_2008_5_16,{u'choices': [{u'text': u'feed on water plants...,feed on water plants,perform photosynthesis,eat snails and mosquito larvae,live in warm areas of the pond,The diagram below represents an aquatic food w...
1,D,LEAP__5_10328,{u'choices': [{u'text': u'the amount that each...,the amount that each plant grew,the amount of food each plant received,the amount of water each plant received,the amount of sunlight each plant received,Use the data table below to answer the questio...
2,A,LEAP__5_10333,{u'choices': [{u'text': u'{img:images/States20...,{img:images/States2017/LA/LA_no_year_5thGr_15....,{img:images/States2017/LA/LA_no_year_5thGr_16....,{img:images/States2017/LA/LA_no_year_5thGr_17....,{img:images/States2017/LA/LA_no_year_5thGr_18....,Which foot would most likely help a bird live ...
3,C,LEAP__5_10335,{u'choices': [{u'text': u'{img:images/States20...,{img:images/States2017/LA/LA_no_year_5thGr_3.png},{img:images/States2017/LA/LA_no_year_5thGr_4.png},{img:images/States2017/LA/LA_no_year_5thGr_5.png},{img:images/States2017/LA/LA_no_year_5thGr_6.png},A scientist was studying a mammal population. ...
4,A,MCAS_1998_4_21,"{u'choices': [{u'text': u'plant', u'label': u'...",plant,frog,rabbit,hawk,{img:images/States2017/Mass/Mass_4thGr_1998_19...

In [32]:
ans=ans.drop(["question"],axis=1)
ans=ans.drop(["E"],axis=1)

In [21]:
ans.head()

,answerKey,id,A,B,C,D,stem
0,C,ACTAAP_2008_5_16,feed on water plants,perform photosynthesis,eat snails and mosquito larvae,live in warm areas of the pond,The diagram below represents an aquatic food w...
1,D,LEAP__5_10328,the amount that each plant grew,the amount of food each plant received,the amount of water each plant received,the amount of sunlight each plant received,Use the data table below to answer the questio...
2,A,LEAP__5_10333,{img:images/States2017/LA/LA_no_year_5thGr_15....,{img:images/States2017/LA/LA_no_year_5thGr_16....,{img:images/States2017/LA/LA_no_year_5thGr_17....,{img:images/States2017/LA/LA_no_year_5thGr_18....,Which foot would most likely help a bird live ...
3,C,LEAP__5_10335,{img:images/States2017/LA/LA_no_year_5thGr_3.png},{img:images/States2017/LA/LA_no_year_5thGr_4.png},{img:images/States2017/LA/LA_no_year_5thGr_5.png},{img:images/States2017/LA/LA_no_year_5thGr_6.png},A scientist was studying a mammal population. ...
4,A,MCAS_1998_4_21,plant,frog,rabbit,hawk,{img:images/States2017/Mass/Mass_4thGr_1998_19...

In [33]:
sample.head()

,questionID,originalQuestionID,totalPossiblePoint,AnswerKey,isMultipleChoiceQuestion,includesDiagram,examName,schoolGrade,year,question,subject,category
0,ACTAAP_2010_7_2,2,1,A,1,1,ACTAAP,7,2010,Many houses located near beaches look like the...,science,Dev
1,ACTAAP_2013_7_5,5,1,C,1,1,ACTAAP,7,2013,This diagram shows a portion of a roller coast...,science,Dev
2,AMP_2016_8_11,11,1,D,1,1,AMP,8,2016,Students conducted an experiment to test how t...,science,Dev
3,CSZ_2008_8_13,13,1,C,1,1,California Standards Test,8,2008,The following table shows properties of four d...,science,Dev
4,LEAP__8_10374,10374,1,D,1,1,Louisiana Educational Assessment Program,8,?,Use the food web below to answer the question....,science,Dev

In [34]:
np.unique(sample["category"])

array(['Dev', 'Test', 'Train'], dtype=object)

In [35]:
ans.head()

,answerKey,id,A,B,C,D,stem
0,A,ACTAAP_2010_7_2,Floods occur in the area.,Earthquakes occur in the area.,The soil is unstable in the area.,The soil stays frozen in the area.,Many houses located near beaches look like the...
1,C,ACTAAP_2013_7_5,"At Position Z, kinetic energy is greater than ...","At Position Y, potential energy is greater tha...","At Position X, potential energy is lowest and ...","At Position W, potential energy is lowest and ...",This diagram shows a portion of a roller coast...
2,D,AMP_2016_8_11,Three trials were used because the students st...,The students repeated the experiment until the...,The students used the first trial to practice ...,Performing an experiment with multiple trials ...,Students conducted an experiment to test how t...
3,C,CSZ_2008_8_13,1,2,3,4,The following table shows properties of four d...
4,D,LEAP__8_10374,producer,primary consumers,secondary consumers,decomposers,Use the food web below to answer the question....

In [37]:
ans["Grade"]=sample["schoolGrade"]
ans["subject"]=sample["subject"]
ans["category"]=sample["category"]

In [28]:
ans.head()

,answerKey,id,A,B,C,D,stem,Grade,subject,category
0,C,ACTAAP_2008_5_16,feed on water plants,perform photosynthesis,eat snails and mosquito larvae,live in warm areas of the pond,The diagram below represents an aquatic food w...,5,science,Dev
1,D,LEAP__5_10328,the amount that each plant grew,the amount of food each plant received,the amount of water each plant received,the amount of sunlight each plant received,Use the data table below to answer the questio...,5,science,Dev
2,A,LEAP__5_10333,{img:images/States2017/LA/LA_no_year_5thGr_15....,{img:images/States2017/LA/LA_no_year_5thGr_16....,{img:images/States2017/LA/LA_no_year_5thGr_17....,{img:images/States2017/LA/LA_no_year_5thGr_18....,Which foot would most likely help a bird live ...,5,science,Dev
3,C,LEAP__5_10335,{img:images/States2017/LA/LA_no_year_5thGr_3.png},{img:images/States2017/LA/LA_no_year_5thGr_4.png},{img:images/States2017/LA/LA_no_year_5thGr_5.png},{img:images/States2017/LA/LA_no_year_5thGr_6.png},A scientist was studying a mammal population. ...,5,science,Dev
4,A,MCAS_1998_4_21,plant,frog,rabbit,hawk,{img:images/States2017/Mass/Mass_4thGr_1998_19...,4,science,Dev

In [38]:
np.sum(ans["id"]!=sample["questionID"])

0

In [43]:
ans.to_csv("Middle-school.csv",index=False)

In [42]:
ans.head()

,answerKey,id,A,B,C,D,stem,Grade,subject,category
0,A,ACTAAP_2010_7_2,Floods occur in the area.,Earthquakes occur in the area.,The soil is unstable in the area.,The soil stays frozen in the area.,Many houses located near beaches look like the...,7,science,Dev
1,C,ACTAAP_2013_7_5,"At Position Z, kinetic energy is greater than ...","At Position Y, potential energy is greater tha...","At Position X, potential energy is lowest and ...","At Position W, potential energy is lowest and ...",This diagram shows a portion of a roller coast...,7,science,Dev
2,D,AMP_2016_8_11,Three trials were used because the students st...,The students repeated the experiment until the...,The students used the first trial to practice ...,Performing an experiment with multiple trials ...,Students conducted an experiment to test how t...,8,science,Dev
3,C,CSZ_2008_8_13,1,2,3,4,The following table shows properties of four d...,8,science,Dev
4,D,LEAP__8_10374,producer,primary consumers,secondary consumers,decomposers,Use the food web below to answer the question....,8,science,Dev

In [41]:
sum(ans["id"]!=sample["questionID"])

0

In [44]:
tt=pd.read_csv("Middle-school.csv")

In [45]:
tt.head()

,answerKey,id,A,B,C,D,stem,Grade,subject,category
0,A,ACTAAP_2010_7_2,Floods occur in the area.,Earthquakes occur in the area.,The soil is unstable in the area.,The soil stays frozen in the area.,Many houses located near beaches look like the...,7,science,Dev
1,C,ACTAAP_2013_7_5,"At Position Z, kinetic energy is greater than ...","At Position Y, potential energy is greater tha...","At Position X, potential energy is lowest and ...","At Position W, potential energy is lowest and ...",This diagram shows a portion of a roller coast...,7,science,Dev
2,D,AMP_2016_8_11,Three trials were used because the students st...,The students repeated the experiment until the...,The students used the first trial to practice ...,Performing an experiment with multiple trials ...,Students conducted an experiment to test how t...,8,science,Dev
3,C,CSZ_2008_8_13,1,2,3,4,The following table shows properties of four d...,8,science,Dev
4,D,LEAP__8_10374,producer,primary consumers,secondary consumers,decomposers,Use the food web below to answer the question....,8,science,Dev